body {
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/ce/20/b3/ce20b3b29dc38051ce94ee4ed9c8220d.jpg);
}

.kaimorris {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  border: 2px solid black;
  margin-top: 5%;
}
h1 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  letter-spacing: 0.5em;
}

th { 
  text-align: center;
  font-family: 'Raleway', sans-serif;
  padding-left: 50px;
  font-size: 1em;
}
table {
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}
html {
  font-size: 16px;
}

body{
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/ce/20/b3/ce20b3b29dc38051ce94ee4ed9c8220d.jpg);;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  
  font-family: 'Raleway', sans-serif;
  color: black;
  font-weight: 400;
  font-size: 1.000rem;
}

a{
  color: black;
  text-decoration: none;
  display:block;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
  padding:0 6px;
  text-transform: uppercase;
  transition: color .3s cubic-bezier(0.11, 0.7, 0, 1);
  
  font-size: 0.875rem;
  letter-spacing: .15rem;
  line-height: 1.8;
}

a:hover{
  color:black;
}

.link1:after {
  position: absolute;
  top: 50%;
  left:0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  content: "";
  border-bottom: 1px solid #222;
  transform: translate3d(-101%,0,0);
  transition: transform .2s cubic-bezier(0.11, 0.7, 0, 1);
}

.link1:hover:after {
  transform: translate3d(0,0,0);
  
}

.link2:after {
  position: absolute;
  top: 50%;
  left:0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  content: "";
  border-bottom: 1px solid #222;
  transform: scale(0);

}

.link2:hover:after {
    transition: transform .3s cubic-bezier(0.11, 0.7, 0, 1);
  transform: scale(1);
}

.link3:after {
  position: absolute;
  top: 50%;
  left:0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  content: "";
  border-bottom: 1px solid #222;
  transform: translate3d(-101%,0,0);
  transition: transform .2s cubic-bezier(0.11, 0.7, 0, 1);
}

.link3:hover:after {
  transform: translate3d(0,0,0);)
}

.link4:after {
  position: absolute;
  top: 50%;
  left:0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  content: "";
  border-bottom: 1px solid #222;
  transform: translate3d(-101%,0,0);
  transition: transform .2s cubic-bezier(0.11, 0.7, 0, 1);
}

.link4:hover:after {
  transform: translate3d(0,0,0);
}

.link5:after {
  position: absolute;
  top: 50%;
  left:0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  content: "";
  border-bottom: 1px solid #222;
  transform: translate3d(-101%,0,0);
  transition: transform .2s cubic-bezier(0.11, 0.7, 0, 1);
}

.link5:hover:after {
  transform: translate3d(0,0,0);
}

.link6:after {
  position: absolute;
  top: 50%;
  left:0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  content: "";
  border-bottom: 1px solid #222;
  transform: translate3d(-101%,0,0);
  transition: transform .2s cubic-bezier(0.11, 0.7, 0, 1);
}

.link6:hover:after {
  transform: translate3d(0,0,0);
}
html { font-size: 1px; }
body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-size: 30rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

main {
  position: relative;
  display: flex;
}

h1 { margin: 0; }
h1, .marker {
  transform: translateX(0);
  animation-timing-function: cubic-bezier(0.15,-0.01, 0.58, 1);
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.marker {
  position: absolute; top: 4px; left: -3px;
  height: 3px; width: 40px;
  background-color: black;
  animation-name: marker;
}

.a { margin-left: 1rem;   animation-name: a; }
.i1 { margin-left: 7rem; animation-name: i1; }
.m1 { margin-left: 16rem; animation-name: m1; }
.o2 { margin-left: 21rem; animation-name: o2; }
.r2 { margin: 0 28rem; animation-name: r2; }
.r3 { margin: 0 35rem; animation-name: r3; }
.i3 { margin: 0 36rem 0 42rem; animation-name: i3; }
.s4 { margin: 0 40rem; animation-name: s4; }



@keyframes a { 
  0%, 20% { transform: translateX(0); }
  50%, 70% { transform: translateX(40rem); }
}
@keyframes i1 { 
  0%, 20% { transform: translateX(0); }
  50%, 70% { transform: translateX(70rem); }
}
@keyframes m1 { 
  0%, 20% { transform: translateX(0); }
  50%, 70% { transform: translateX(81rem); }
}
@keyframes o2 { 
  0%, 20% { transform: translateX(0); }
  50%, 70% { transform: translateX(65rem); }
}
@keyframes r2 { 
  0%, 20% { transform: translateX(0); }
  50%, 70% { transform: translateX(35rem); }
}
@keyframes r3 { 
  0%, 20% { transform: translateX(0); }
  50%, 70% { transform: translateX(-20rem); }
}
@keyframes i3 { 
  0%, 20% { transform: translateX(0); }
  50%, 70% { transform: translateX(-80rem); }
}
@keyframes s4 { 
  0%, 20% { transform: translateX(0); }
  50%, 70% { transform: translateX(-140rem); }
}
@keyframes marker { 
  0%, 20% { transform: translateX(0); }
  50%, 70% { transform: translateX(337rem); }
}

